#include "dactyl_manuform.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    col-gpios
        = <&gpio0 31 GPIO_ACTIVE_HIGH>   // pin 031
        , <&gpio0 29 GPIO_ACTIVE_HIGH>   // pin 029
        , <&gpio0 32 GPIO_ACTIVE_HIGH>   // pin 032
        , <&gpio0 115 GPIO_ACTIVE_HIGH>  // pin 115
        , <&gpio0 113 GPIO_ACTIVE_HIGH>  // pin 113
        ;
};
